<h1>箱根駅伝の区間新記録って更新されやすい？</h1>
<p>2019.3.24更新</p>
<img src= '/draft1/1380281.jpg' class="title-image">
<div class="draft-article">
	<p>正月の風物詩といえば箱根駅伝ですよね。毎年１月２日、３日に行われ、東京-箱根間を二日間で往復する伝統ある大学駅伝大会。毎年テレビ放送もされてるのでその認知度は陸上界のみならず、日本スポーツ界でも群を抜いています。そんな箱根駅伝を数字から紐解くシリーズ第一弾。今回のテーマは「区間新記録」です。</p>
<h2 class="draft-topic">箱根駅伝と日本選手権で比べてみた</h2>
<p>区間記録とは、その名の通り一人のランナーが走るその区間における歴代最高タイム、要するに大会記録です。箱根駅伝は往路復路で５区間ずつ、計10区間を各校10人のランナーが走りますので、区間記録は10つ存在します。</p>
<p>そんな区間記録ですが、よく実況の人が「区間新記録達成！！！」とテレビの向こうで叫んでいるのを耳にしませんか？</p>
<p>「区間記録の割には頻繁に出るものだなー」と思ったので、過去10年間の箱根駅伝と陸上日本選手権の大会記録更新頻度を比べてみました。</p>
<h1></h1>

<img src= '/draft1/1.png' class="title-image">
<h2 class="draft-topic">箱根駅伝の区間記録は過去10年間で実に21回も更新されている</h2>
<p>表の通り日本選手権13回に対して箱根駅伝は実に21回。しかも１大会における絶対種目(区間）数を見ると、箱根駅伝はたったの10。日本選手権の40(男子・女子各20種目)に対してたったの4分の1である。やはり数字からみても箱根駅伝は”頻繁に”区間記録が出る大会と言えるのではないでしょうか。</p>
<h2 class="draft-topic">なんで箱根駅伝の区間記録は更新されやすいの？</h2>
<p>箱根駅伝で区間記録が出やすい理由をここでは主に2つ挙げてみます。</p>
<p>①区間距離の変更が最近何度か行われていること</p>
<p>②大学長距離界のレベルが上がっていること</p>
<h1></h1>
<p>①について。ここ10年間で4区で1回、5区で2回の区間距離変更が行われています。5区はご存知の通り、箱根駅伝最大の難所である山登りの区間。山を制する者が箱根を制す、と言われるように、順位の入れ替わりが非常に激しい区間です。山登り5区の距離が長くなればなるほど大会は盛り上がる、しかし一方で、選手にとって身体の負担があまりにも大きい山登りは、「箱根から世界へ」という理念を掲げる箱根駅伝においてどうしても神経質に扱わざるを得ず、大会主催者・選手双方にとって最適な5区の距離はどれくらいか、議論の余地があるのが事実です。そのためここ数年で流動的に距離が変更されているのです。
<h1></h1>
<p>②について。陸上人口数が伸長してきて、アマチュア学生界の裾野がどんどん広がっている中で、当然学生長距離界のレベルも高くなっております。現に箱根10区間全体の総合タイムにおいて、直近10年の大会で大会記録が更新されたのはなんと10回中6回。2019年大会で東洋大学が更新した大会記録10時間52分09秒は、現行距離より約2.5キロほど短かった1974年大会に更新された大会記録(山梨学院大学が記録)より、なんと7分超も上回る記録です。
</p>
<h2 class="draft-topic">まとめ</h2>
<p>アマチュア陸上界のレベルが上がっていることは非常に喜ばしいことで、「箱根から世界へ」という”崇高な理念”がより”現実的な目標”に変わってきているように感じます。しかし一方で大会主催者と選手の利害が一致せず、最近区間距離が繰り返し変更されているという裏側の事実は、お茶の間にそれほど届いていないようです。「山登り」というのは扱い方によってはアスリートの卵を潰しかねない非常に重要な問題と言えるかと思います。皆さんも、今度箱根駅伝で(特に4,5区)区間新記録が出たら興奮して喜ぶ反面、今回の記事について思い出していただければと思います。</p>
</div>