<%= form_tag("/draft/create",{multipart: true}) do %>
<input type="text" name="column_number">
<h1>タイトル<textarea class="column_data" name="column_title"></textarea></h1>

<p>タイトル画像</p>
<input class="column_data" name="image" type="file">

<div class="draft-article">
<p>リード文</p>
<textarea class="column_data" name="column_lead" ></textarea>

<h2 class="draft-topic">トピック1
<textarea class="column_data" name="column_topic1"></textarea>
</h2>
<p>記事1</p>
<textarea class="column_data" name="column_article1"></textarea>
<p>挿入画像1</p>	
<input class="column_data" name="image1" type="file">

<h2 class="draft-topic">トピック2
<textarea class="column_data" name="column_topic2"></textarea>
</h2>
<p>記事2</p>
<textarea class="column_data" name="column_article2"></textarea>
<p>挿入画像2</p>	
<input class="column_data" name="image2" type="file">


<h2 class="draft-topic">トピック3
<textarea class="column_data" name="column_topic3"></textarea>
</h2>
<p>記事3</p>
<textarea class="column_data" name="column_article3"></textarea>
<p>挿入画像3</p>	
<input class="column_data" name="image3" type="file">

</div>

<div class="button-area">
<input type="submit" class="btn btn-success btn-sm" value="アップロード">
</div>

<% end %>