    <div class="top-wrapper">
      
        <h1>LEARN TO BE STRONGER.</h1>
        <h1>FOR YOUR DREAM.</h1>
        <p>陸上競技をもっと知りたい、学びたい人のための専門Webサイト</p>
        <p>陸上に関するちょっとした雑学からトップアスリートの練習方法まで</p>
        <p>幅広い陸上知識、ノウハウを凝縮</p>
        <div class="btn-wrapper">
          <a href="/draft/index" class="btn signup">コラムを読む</a>
          
        </div>
      
    </div>