
 <div class="post-content1">
    <div class="icon-area">
    <%= image_tag '/official_track_logo.png' %>
    </div>
    
    <div class="profile1-area">
  	
  	<div class="profile1-title">プロフィール1</div>
    
    <div class="name-area">
    <div class="name">ユーザー名</div>
    <textarea class="text-name" placeholder="ex)track 太郎"></textarea>
    <div class="clear"></div>
    </div>

    <div class="btn-real-name-area">
    <button type="button" class="btn real-name">
  	<%= link_to("本名で登録","/") %>
    </button>
    </div>

    <div class="belong-area">
    <div class="belong">所属</div>
    <textarea class="text-belong" placeholder="ex)大学、企業..."></textarea>
    <div class="clear"></div>
    </div>
    
    <div class="event-area">
    <div class="event">専門種目</div>
    <textarea class="text-event" placeholder="ex)100m,走り幅跳び..."></textarea>
    <div class="clear"></div>
    </div>

    <div class="pb-area">
    <div class="pb">自己ベスト</div>
    <textarea class="text-pb" placeholder="ex)10.70,7m10cm..."></textarea>
    <div class="clear"></div>
    </div>
  
    </div>
 </div>
    
 <div class="post-content2">
    <div class="profile2-area">
    
    <div class="profile2-title">プロフィール2</div>
    
    <div class="match-area">
    <div class="match">直近の出場予定試合</div>
    <textarea class="text-match" placeholder="ex)関東インカレ,◯×大学競技会..."></textarea>
    <div class="clear"></div>
    </div>

    <div class="date-area">
    <div class="date">日時</div>
    <textarea class="text-date" placeholder="ex)2019年◯月×日..." ></textarea>
    <div class="clear"></div>
    </div>

    <div class="place-area">
    <div class="place">場所</div>
    <textarea class="text-place" placeholder="ex)◯×大学陸上競技場..."></textarea>
    <div class="clear"></div>
    </div>

    </div>

    <div class="lesson-area">
    
    <div class="lesson-title">講座開講情報</div>
    
    <div class="event-area">
    <div class="event">対象種目</div>
    <textarea class="text-event" placeholder="ex)100m,走り幅跳び..."></textarea>
    <div class="clear"></div>
    </div>

    <div class="content-area">
    <div class="content">内容</div>
    <textarea class="text-content" placeholder="（対象種目や講座の流れなど)ご自由にお書きください"></textarea>
    </div>
    
    <div class="btn-sample-area">
    <button type="button" class="btn sample">
  	<%= link_to("サンプル","/") %>
    </button>
    </div>
    
    <div class="date-area">
    <div class="date">日時</div>
    <textarea class="text-date" placeholder="ex)2019年◯月×日..." ></textarea>
    <div class="clear"></div>
    </div>

    <div class="place-area">
    <div class="place">場所</div>
    <textarea class="text-place" placeholder="ex)等々力陸上競技場..."></textarea>
    <div class="clear"></div>
    </div>
  </div>
  
    <div class="btn-register-area">
    <button type="button" class="btn register">
  	<%= link_to("登録","/user/mypage") %>
    </button>
    </div>
  
  </div>
  <div class="clear"></div>
