<h3><%= @error_message %></h3>    
<h2>新規登録</h2>
<div class="shadow p-3 mb-5 bg-white rounded">
<%= form_tag("/login/create") do %>
<div>
  <div class="form-group row">
    <label for="inputName" class="login-label">氏名</label>
    <div class="col-sm-10">
      <input type="text" name="real_name" class="form-control" id="inputName" placeholder="氏名" >
    </div>
  </div>
  <div class="form-group row">
    <label for="inputUserName" class="login-label">ユーザー名</label>
    <div class="col-sm-10">
      <input type="text" name="user_name" class="form-control" id="inputPassword" placeholder="ユーザー名">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBelong" class="login-label">所属</label>
    <div class="col-sm-10">
      <input type="text" name="belong" class="form-control" id="inputBelong" placeholder="所属">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEvent" class="login-label">専門</label>
    <div class="col-sm-10">
      <input type="text" name="event" class="form-control" id="inputEvent" placeholder="専門">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTel" class="login-label">電話番号</label>
    <div class="col-sm-10">
      <input type="number" name="tel" class="form-control" id="inputTel" placeholder="電話番号" >
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="login-label">パスワード</label>
    <div class="col-sm-10">
      <input type="password" name="pass" class="form-control" id="inputPassword" placeholder="パスワード">
    </div>
  </div>
<div class="button-area login">
<input type="submit" class="btn btn-success btn-sm" value="登録">
</div>
<% end %>
</div>
</div>
<div class="button-area new">
  <a href="/login/form" class="btn btn-secondary btn-sm">既存会員様はこちら</a>
</div>


