/*タブレット向けレイアウト 
@media all and (max-width: 1500px) {
  .contain{
    width: 70%;
  }

  
}

/* スマホ向けレイアウト */
@media all and (max-width: 920px) {

  .column-title-area {
    width: 95%;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display:none;
  }
  
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}